<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="#"><%= image_tag "footer-logo.png", alt: "Business For Peace Foundation" %></a>
      </div>

      <div class="col-sm-4">
        <ul class="social-media clearfix">
          <li><a href="#" class="facebook-icon"></a></li>
          <li><a href="#" class="twitter-icon"></a></li>
          <li><a href="#" class="linked-in-icon"></a></li>
          <li><a href="#" class="gmail-icon"></a></li>
        </ul>
      </div>

      <div class="col-sm-4 footer-link-block">
        <p><a href="#" class="btn btn-link">globalgoals.org</a></p>
        <p><a href="#" class="btn btn-link">businessforpeace.org</a></p>
      </div>
    </div>

    <p class="text-center copywrite-text">Copywrite @ 2016 Business for Peace Foundation</p>
  </div>
</footer>