<div class="navbar navbar-default navbar-bottom" role="navigation" >
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="navbar-header">
            <%= link_to(image_tag("bfp_logo.png", :width => '220px'),  '/')%>
          </div>
        </div>
        <div class="col-lg-6 text-center center-text">
          <a href="https://www.facebook.com" class="follow-link " rel="nofollow" target="_blank">
            <i class="fa fa-facebook-square"> </i>
          </a>
          <a href="https://www.linkedin.com" class="follow-link " rel="nofollow" target="_blank">
            <i class="fa fa-linkedin-square"> </i>
          </a>
          <a href="https://www.twitter.com" class="follow-link " rel="nofollow" target="_blank">
            <i class="fa fa-twitter-square"> </i>
          </a>
          <a href="https://www.gmail.com" class="follow-link " rel="nofollow" target="_blank">
            <i class="fa fa-envelope-square"> </i>
          </a>

          <p id="copyright-text"> Copyright @2016 Business for Peace</p>
        </div>
        <div class="col-lg-3 footer-link text-right">
          <p id="footer-link-1"><a href="http://globalgoals.org">globalgoals.org</a></p>
          <p id="footer-link-2"><a href="http://businessforpeace.org">businessforpeace.org</a></p>
        </div>
      </div>
    </div>
</div>