<div class="slider-content">
  <div class="container">
    <div class="slider-people-block clearfix">
      <div class="slider-people pull-left">
        <%= image_tag "Arif_Naqvi.png", alt:"Arif_Naqvi"%>
      </div>
      <div class="slider-people-info pull-left">
        <h2>Arif Naqvi</h2>
        <p>CEO at Corporation, Pakistan</p>
      </div>
    </div>
    <div class="slider-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel dolor vehicula, congue ipsum nec, pretium augue. Nullam blandit sapien eget semper pellentesque. Vestibulum accumsan metus quis rhoncus sagittis. Suspendisse est odio, bibendum sit amet ipsum ac, varius accumsan massa.</p>
    </div>
  </div>
  <div class="slider-pagination-block">
    <div class="container">
      <ul class="slider-pagination clearfix">
        <li></li>
        <li></li>
        <li class="active"></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>