<nav class="navbar navbar-default navbar-static-top">
<div class="container">
  <div class="navbar-header">
    <%= link_to(image_tag("bfp_logo.png", class:'search-icon', :width => '150px'),  '/')%>
    <span class="header-text"> #BusinessWorthy </span>
  </div>
  <ul class="nav navbar-nav navbar-right" >
    <li><a href="/">Home</a></li>
    <li><a href="/">Our Mission</a></li>
    <li><a href="/">Contact Us</a></li>
  </ul>
</div>
</nav>
