<div class="container">
<div class="row">
  <div class="col-lg-8">
    <p>The United States of America (commonly referred to as the United States, U.S., USA, or America),
      is a federal republic composed of 50 states, a federal district of Washington, D.C.,
      five major territories, and various possessions.</p>
    <p>The 48 contiguous states and Washington, D.C., are in central North America between Canada and Mexico.
      The state of Alaska is in the northwestern part of North</p>
  </div>
  <div class="col-lg-4">
  </div>
</div>
</div>