.header-text{
  font-size: 34px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.footer-link{
  margin-top: 50px;
  color: red;
  float: right;
}
#copyright-text{
  margin-top: 10px;
}

#footer-text-1{
  color: red;
}

.follow-link{
  font-size: 52px;
  margin-right: 5px;
}
.center-text{
  margin-top: 50px;
}
.footer{
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}