.header-text{
  font-size: 34px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.footer-link{
  margin-top: 50px;
  color: red;
  float: right;
}
#copyright-text{
  margin-top: 10px;
}

#footer-text-1{
  color: red;
}

.follow-link{
  font-size: 52px;
  margin-right: 5px;
}
.center-text{
  margin-top: 50px;
}
.footer{
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}

.avatar-image{
  margin-left: 5px;
  margin-right: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.middle-section{
//  min-height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
//  background-color: #aba;
}
.btn-primary {
  padding: 18px 39px;
  background-color: #bd1b41;
  border: 0;
  border-radius: 0;
}
.btn-primary:hover {
  background-color: #A71537;
}

/*** business-banner ***/
.business-banner {
  background-color: #d7d7d7;
  padding: 36px 0 55px;
}
.business-banner p {
  margin-bottom: 0;
}
.business-banner-first-block {
  padding-bottom: 20px;
}
.banner-map-col img {
  padding-left: 52px;
}
.countdown-block {
  list-style: none;
}
.countdown-block li {
  width: 30px;
  height: 43px;
  float: left;
  position: relative;
  background-color: #000;
  text-align: center;
  margin-right: 10px;
}
.countdown-block li:last-child {
  margin-right: 0;
}
.countdown-block li span {
  position: relative;
  color: #fff;
  font-size: 34px;
  z-index: 10;
}
.countdown-block li:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #d7d7d7;
  position: absolute;
  top: 21px;
  left: 0;
}
.countdown-block + p {
  margin-left: 22px;
}
.business-worthy-text-col span {
  color: #bd1b41;
}
.global-goals-text {
  background: url('goals-tick.png') no-repeat;
  height: 58px;
}
.global-goals-text p {
  width: 280px;
  padding-left: 90px;
  font-size: 18px;
}
.commit-btn {
  text-transform: uppercase;
}
.global-goals-text .commit-btn {
  margin-left: 20px;
}

//global goal
.explore-goals-block {
  background-color: #efefef;
  padding: 45px 0 70px;
}
.explore-goals-block h1 {
  font-size: 33px;
  margin: 0 0 5px;
}
.goals-block {
  margin-top: 40px;
  text-transform: uppercase;
}
.goals-block a {
  padding: 11px 9px 14px 13px;
  display: block;
  color: #fefffe;
  text-align: center;
}
.goals-block a:hover {
  text-decoration: none;
}
.goal-no {
  width: 27px;
  margin-left: 2px;
  font-size: 30px;
  line-height: 1.1;
  text-align: left;
}
.goal-col img {
  margin-top: 14px;
  /*position: absolute;
  bottom: 5px;
  left: 27%;*/
}
.goal-col {
  margin-bottom: 20px;
}
.goal-col a {
  height: 161px;
  position: relative;
}
.author-col a {
  padding: 0;
}
.goal-col span:before,
.goal-col span:after {
  display: table;
  content: " ";
}
.goal-col span:after {
  clear: both;
}
.goal-text {
  margin-top: 3px;
  line-height: 1.1;
  text-align: left;
  font-size: 13px;
}
.goal-poverty a {
  background-color: #fe2739;
}
.goal-hunger a {
  background-color: #eea72b;
}
.goal-health a {
  background-color: #02a027;
}
.goal-education a {
  background-color: #e52129;
}
.goal-gender-equality a {
  background-color: #ff3718;
}
.goal-water-sanitation a {
  background-color: #03bee4;
}
.goal-clean-energy a {
  background-color: #ffc400;
}
.goal-economic a {
  background-color: #bd1b41;
}
.goal-infastructure a {
  background-color: #ff6918;
}
.goal-inequalities a {
  background-color: #ff2a69;
}
.goal-sustainable-city a {
  background-color: #ff9d01;
}
.goal-responsible-consumption a {
  background-color: #d18c1e;
}
.goal-climate-action a {
  background-color: #037e3e;
}
.goal-below-water a {
  background-color: #ff6918;
}
.goal-on-land a {
  background-color: #01c001;
}
.goal-peace-justice a {
  background-color: #00679f;
}
.goal-partnership a {
  background-color: #04456c;
}
.goal-poverty .goal-text {
  width: 20px;
}
.goal-hunger .goal-text {
  width: 20px;
}
.goal-health .goal-text {
  width: 110px;
}
.goal-education .goal-text {
  width: 50px;
}
.goal-gender-equality .goal-text {
  width: 50px;
}
.goal-water-sanitation .goal-text {
  width: 110px;
}
.goal-clean-energy .goal-text {
  width: 110px;
}
.goal-economic .goal-text {
  width: 110px;
}
.goal-infastructure .goal-text {
  width: 110px;
}
.goal-inequalities .goal-text {
  width: 110px;
  padding-left: 14px;
}
.goal-sustainable-city .goal-text {
  width: 110px;
  padding-left: 14px;
}
.goal-responsible-consumption .goal-text {
  width: 110px;
  padding-left: 14px;
}
.goal-climate-action .goal-text {
  width: 90px;
  padding-left: 14px;
}
.goal-below-water .goal-text {
  width: 90px;
  padding-left: 14px;
}
.goal-on-land .goal-text {
  width: 70px;
  padding-left: 14px;
}
.goal-peace-justice .goal-text {
  width: 110px;
  padding-left: 14px;
}
.goal-partnership .goal-text {
  width: 110px;
  padding-left: 14px;
}